name: Postman API Tests

on:
  schedule:
    - cron: "0 5 * * *"   # каждый день в 05:00 UTC
  workflow_dispatch:

jobs:
  api-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Newman
        run: npm install -g newman

      - name: Run Postman collection
        run: |
          newman run "postman/collections/Водный транспорт.postman_collection.json" \
          -e "postman/environments/use_this_environment.json" \
          --reporters cli
